.container {
    margin-bottom: 100px;
}
.nav-item {
    margin: 10px;
}
.carousel-bg {
    
}
.carousel-item {
    padding: 20px 40px;
}
.carousel-indicators li{
    background-color: gray;
    height: 10px;
    border: none;
    border-radius: 5px;
}
.carousel-indicators .active{
    background-color: orange;
}
.buy-now-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.see-all a{
    color: orange;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.card {
    border: none;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 10px;
}
.card-footer {
    background-color: white;
    border-top: none;
}